<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__contacts">
        <h2>НАШИ КОНТАКТЫ</h2>
        <p class="footer__contact footer__contact--address">Санкт-Петербург, Невский&nbsp;проспект&nbsp;81, лит.&nbsp;А</p>
        <p><a class="footer__contact footer__contact--email" href="mailto:spb.kapsula@gmail.com">spb.kapsula@gmail.com</a></p>
        <p><a class="footer__contact footer__contact--phone" href="tel:+79967899879">8 (996) 789-98-79</a></p>
      </div>
      <div class="footer__form-block">
        <h3>Задайте нам вопрос</h3>
        <form class="footer__form" action="">
          <input class="footer__form-input" type="text" value="" placeholder="Subscribe our newsletter">
          <button class="footer__form-submit" type="submit" title="Отправить"><img src="images/icons/submit.png" alt="Отправить"></button>
        </form>
        <ul class="footer__socials">
          <li class="footer__socials-item"><a class="footer__socials-link" href="#" title="Facebook.com" target="_blank" rel="nofollow noreferrer"><img src="images/icons/social/fb.png" alt="Facebook.com"></a></li>
          <li class="footer__socials-item"><a class="footer__socials-link" href="#" title="Instagram.com" target="_blank" rel="nofollow noreferrer"><img src="images/icons/social/inst.png" alt="Instagram.com"></a></li>
          <li class="footer__socials-item"><a class="footer__socials-link" href="#" title="Youtube.com" target="_blank" rel="nofollow noreferrer"><img src="images/icons/social/yt.png" alt="Youtube.com"></a></li>
        </ul>
      </div>
    </div>
    <p class="footer__copyright">Copyright © 2020 - KAPSULA</p>
  </div>
</footer>
